@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body,
  #root {
    @apply h-full overflow-hidden;
    overscroll-behavior-y: none;
    /* Prevent elastic bounce */
  }

  body {
    @apply bg-pl-dark text-white font-sans antialiased;
  }
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-pl-dark;
}

::-webkit-scrollbar-thumb {
  @apply bg-pl-hover rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-pl-purple;
}